h3 {
  color: white;
}
h2 {
  margin: 5%;
  font-size: 20px;
}
.headerName{
  
  font-size: 40px;
  display: flex;
}
.occupation{
  font-size: 15px;
  padding-left: 10px;
  padding-top: 20px;
}

h1 {
  text-align: center;
  font-size: 40px;
}
.BusinessSection{
  background-color: black;
  border-radius: 15px;
}
.Diagram {
  text-align: center;
  margin: 2%;
}
p{
  margin: 5%;
  line-height: 24px;
  font-size: 20px;
}
.mainbody {
  margin: 30px;
  margin-top: 0px;
}
.Text {
  color: white;
  padding-bottom: 50px;
}
.Title {
  font-size: 50px;
  padding-top: 30px;
  color: white;
  line-height: 50px;
  text-align: center;
}
.portfolio{
  justify-content: space-evenly;
  
}
.CertificateLink{
  font-size: 30px;
}
.ProjectInfo{  
}
.SiteMap{
  
  margin: 10px;
  width: 90%;
  height: auto;
  border-radius: 10px;
}
.center {
  width: 100%;
  text-align: center;
}
.ProjectCard{
  color: white;
  border-radius: 10px;
  background-color: black;
  
}
.Skills{
  font-size: 40px;
  padding-left: 15%;
  list-style-type: none; /* Remove bullets */
  padding: 0; /* Remove padding */
  margin: 0; /* Remove margins */
}

.SkillsTitle {
  font-size: 50px;
  
}

